@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap&#39');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Boogaloo", sans-serif;

}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    height: 85px;
    background: linear-gradient(90deg, #131E26 60%, #223947, #325A6F);
    font-size: 14px;
    width: 100%;
}

ul{
    display: flex;
    padding: 30px;
    text-decoration: none;
    
}
li{
    padding: 30px;
    list-style: none;
}

.menu a{
    color: white;
    text-decoration: none;
   
}
.logo img{
    width: 150px;
}
.logo{
    align-items: center;
    padding: 80px;
}

.texto{
    width: 600px;
    margin-left: 50px;
}
.texto h1{
    font-size: 70px;
}

.botao{
    margin-right: 60px;
    width: 200px;
    height: 45px;
    background: linear-gradient(90deg, #349054, #57c3f0);
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: white;
    justify-content: center;
    gap: 15px;
}
.botao img{
    width: 18px;
}
.primeira{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #131E26 60%, #223947, #325A6F);
    width: 100%;
    height: 650px;
    color: white;
    align-items: center;
}

.texto2{
    width: 600px;
    display: flex;
    gap: 13px;
    margin-top: 20px;
}
.texto2 img{
    width: 20px;
}
.imagem{
    margin-right: 50px ;
}
.imagem img{
    width: 600px;
}

